<p class="field {{fieldClass}}">
    <label class="field__label {{labelClass}}">
        <span class="field__text">{{text}}</span>
        <input
                class="field__input"
                type="{{#if type}}{{type}}{{else}}text{{/if}}"
                value="{{inputValue}}"
                name="{{name}}"
                required="{{#if required}}{{required}}{{else}}false{{/if}}"
        />
    </label>
    <span class="field__validation-text">{{validationText}}</span>
</p>
