<a
    class="link {{class}} {{#if color}}link_{{color}}{{else}}{{/if}} "
    href="{{href}}"
    target="_{{#if target}}{{target}}{{else}}self{{/if}}"
    rel="noopener nofollow"
>
    {{text}}
</a>
